<a href="https://colab.research.google.com/github/RsdTanmoy/Machine-Learning-Pandas/blob/main/Pandas_Lecture_2(DataFrame).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create Pandas DataFrame**

In [ ]:
import pandas as pd

In [ ]:
emt_df=pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

**Pandas DataFrame from List**

In [ ]:
list_1=['a','b','c','d','e']
print(list_1)

['a', 'b', 'c', 'd', 'e']

In [ ]:
df1=pd.DataFrame(list_1)
print(df1)

   0
0  a
1  b
2  c
3  d
4  e

In [ ]:
df1

   0
0  a
1  b
2  c
3  d
4  e

**DataFrame from List of List/ ndaray**

In [ ]:
ls_of_ls=[[1,2,3],[4,5,6],[7,8,9]]
print(ls_of_ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
df2=pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

**DataFrame from Dict**

In [ ]:
dict1={'ID':[11,22,33,44]}
print(dict1)

{'ID': [11, 22, 33, 44]}

In [ ]:
df3=pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [ ]:
dict2={'ID':[11,22,33,44],'SN':[1,2,3,4]}
print(dict2)

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [ ]:
df4=pd.DataFrame(dict2)
df4

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

**DataFrame from List of Dicts**

In [ ]:
ls_dict1=[{'a':1,'b':2},{'a':3,'b':4}]

df5=pd.DataFrame(ls_dict1)
df5

   a  b
0  1  2
1  3  4

In [ ]:
ls_dict2=[{'a':1,'b':2},{'c':3,'d':4}]
print(ls_dict2)

[{'a': 1, 'b': 2}, {'c': 3, 'd': 4}]

In [ ]:
df6=pd.DataFrame(ls_dict2)
df6

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  NaN  NaN  3.0  4.0

In [ ]:
ls_dict3=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]

df7=pd.DataFrame(ls_dict3)
df7

   a  b    c
0  1  2  NaN
1  3  4  5.0

**DataFrame from Dict of Series**

In [ ]:
dict_sr={'ID':pd.Series([1,2,3]),'SN':pd.Series([11,22,33])}

df8=pd.DataFrame(dict_sr)
df8

   ID  SN
0   1  11
1   2  22
2   3  33